@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pf52nt');
	src:url('../fonts/icomoon.eot?#iefixpf52nt') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pf52nt') format('woff'),
		url('../fonts/icomoon.ttf?pf52nt') format('truetype'),
		url('../fonts/icomoon.svg?pf52nt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
	content: "\e600";
}

.icon-lock:before {
	content: "\e601";
}

.icon-diamond:before {
	content: "\e602";
}

.icon-banknote:before {
	content: "\e603";
}

.icon-lab:before {
	content: "\e604";
}

.icon-fire:before {
	content: "\e605";
}

.icon-vynil:before {
	content: "\e606";
}

.icon-world:before {
	content: "\e607";
}

