*, body {
	box-sizing: border-box;
	font-size: 16px;
}

nav {
	height: 4.5em;
	overflow: hidden;
	text-align: center;
	background: #232323;
	padding: 0.8em 0;
	position: fixed;
	top: 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
	z-index: 1000;
}

nav.active {
	height: auto;
}

nav a {
	display: block;
	width: 60%;
	margin: 0 auto;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	color: #f4f4f9;
	line-height: 2.3em;
	padding: 0.4em 0.8em;
	letter-spacing: 0.03em;
}

nav a.logo {
	height: 3em;
	background-image: url('../images/monofab_logo.png');
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center 0.5em;
	text-indent: 100%;
}

nav a:hover, nav a:focus {
	background-color: #323232;
	color: #f4f4f9;
}

/* Hamburger button */

#nav-toggle {
	position: absolute;
	left: 1.4em;
	top: 1.2em;
	width: 35px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle:focus, #nav-toggle:hover {
	background-color: transparent;
}
.active #nav-toggle span {
  background-color: transparent;
}
.active #nav-toggle span:before, #nav-toggle.active span:after {
  top: 0;
}
.active #nav-toggle span:before {
  transform: rotate(45deg);
}
.active #nav-toggle span:after {
  transform: rotate(-45deg);
  bottom: 0;
}

figure {
	margin: 0;
}

.videowrapper {
	float: none;
	clear: both;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro h1 {
	width: 340px;
	height: 53px;
	background: url('../images/monofab_logo.png');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin-top: 0.5em;
}

#video {
	padding: 4em 0;
	background: #f4f4f9;
}

#arm {
	padding: 2em 0;
}

#tips {
	background: #586f7c;
	padding: 2.4em 0 3.4em 0;
}

#tips h2 {
	display: inline-block;
	width: auto;
	padding: 0.4em 0.6em;
	background: #fff;
	color: #e93f33;
	margin: 1em 0;
}

#tips h2 span {
	display: inline-block;
	width: 170px;
	height: 26px;
	background: url('../images/monofab_logo.png');
	background-size: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin-top: 0.5em;
}

#tips h3, #tips p {
	color: #fff;
}

#tips h3 {
	font-size: 1.8rem;
	margin-bottom: 0.6em;
	font-weight: bold;
	letter-spacing: 0.04em;
}

#tips h3 span {
	background: #fff;
	color: #e93f33;
	padding: 0.5em;
	border-radius: 1em;
	margin-right: 0.5em;
}

#cta {
	background: #e93f33;
	padding: 2.4em 0;
	text-align: center;
}

#cta p {
	color: #f4f4f9;
	font-size: 2rem;
	margin-bottom: 0.3em;
}

#cta span.phone {
	background: #f4f4f9;
	padding: 0.8em 0.6em 0.6em 0.6em;
	color: #e93f33;
	border-radius: 0.3em;
	margin-left: 1em;
}

footer {
	background: #232323;
	color: #f4f4f9;
	padding: 2em 0;
}

footer img, footer .six div {
	display: inline-block;
}

footer img {
	width: 30%;
	height: auto;
	border-radius: 5%;
	margin-right: 2em;
}

footer .six div p {
	margin: 0;
}



/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	nav a {
		display: inline-block;
		width: auto;
	}
	nav a.logo {
		width: 150px;
		background-size: 90%;
	}

	#nav-toggle {
		display: none;
	}

	#arm {
		/*text-align: right;*/
	}
}

@media (min-width: 750px) {
	.videowrapper {
		margin: 0 auto;
	}

	section {
		/*margin-top: 4em;*/
	}

}


/* Larger than desktop */
@media (min-width: 1000px) {
	.videowrapper {
		/*padding-bottom: 20%;*/
	}

	#intro p {
		font-size: 22px;
	}
}

