*, body {
	box-sizing: border-box;
	font-size: 16px;
}

nav {
	text-align: center;
	background: #f4f4f9;
	padding: 1em 0;
	position: fixed;
	top: 0;
	display: block;
	box-sizing: border-box;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid #586F7C;
}

nav a {
	display: block;
	width: 80%;
	margin: 0 auto;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	color: #232323;
	line-height: 2.3em;
	padding: 0.4em 0.8em;
	letter-spacing: 0.03em;
}

nav a:hover, nav a:focus {
	/*background: #474747;*/
	background: #323232;
	color: #f4f4f9;
}

figure {
	margin: 0;
}

.videowrapper {
	float: none;
	clear: both;
	box-sizing: border-box;
	width: 100%;
	max-width: 700px;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#intro h1 {
	width: 340px;
	height: 53px;
	background: url('../images/monofab_logo.png');
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin-top: 0.5em;
}

#video {
	padding: 4em 0;
	background: #f4f4f9;
}

#arm {
	padding: 2em 0;
}

#tips {
	background: #586f7c;
	padding: 2.4em 0 3.4em 0;
}

#tips h2 {
	display: inline-block;
	width: auto;
	padding: 0.4em 0.6em;
	background: #fff;
	color: #e93f33;
	margin: 1em 0;
}

#tips h2 span {
	display: inline-block;
	width: 170px;
	height: 26px;
	background: url('../images/monofab_logo.png');
	background-size: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin-top: 0.5em;
}

#tips h3, #tips p {
	color: #fff;
}

#tips h3 {
	font-size: 1.8rem;
	margin-bottom: 0.6em;
	font-weight: bold;
	letter-spacing: 0.04em;
}

#tips h3 span {
	background: #fff;
	color: #e93f33;
	padding: 0.5em;
	border-radius: 1em;
	margin-right: 0.5em;
}

#cta {
	background: #e93f33;
	padding: 2.4em 0;
	text-align: center;
}

#cta p {
	color: #f4f4f9;
	font-size: 2rem;
	margin-bottom: 0.3em;
}

#cta span.phone {
	background: #f4f4f9;
	padding: 0.8em 0.6em 0.6em 0.6em;
	color: #e93f33;
	border-radius: 0.3em;
	margin-left: 1em;
}

footer {
	background: #232323;
	color: #f4f4f9;
	padding: 2em 0;
}

footer img, footer .six div {
	display: inline-block;
}

footer img {
	width: 30%;
	height: auto;
	border-radius: 5%;
	margin-right: 2em;
}

footer .six div p {
	margin: 0;

}



/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	nav a {
		display: inline-block;
		width: auto;
	}

	#arm {
		/*text-align: right;*/
	}
}

@media (min-width: 750px) {
	.videowrapper {
		margin: 0 auto;
	}

	section {
		/*margin-top: 4em;*/
	}

}


/* Larger than desktop */
@media (min-width: 1000px) {
	.videowrapper {
		/*padding-bottom: 20%;*/
	}

	#intro p {
		font-size: 22px;
	}
}

